:root[data-mantine-color-scheme='light'] {
  --app-bg: var(--mantine-color-white);
  --app-sidebar-bg: var(--mantine-color-gray-0);
  --app-border-color: var(--mantine-color-gray-3);
  --app-text-color: var(--mantine-color-dark-7);
}

:root[data-mantine-color-scheme='dark'] {
  --app-bg: var(--mantine-color-dark-7);
  --app-sidebar-bg: var(--mantine-color-dark-6);
  --app-border-color: var(--mantine-color-dark-4);
  --app-text-color: var(--mantine-color-gray-0);
}

body {
  background-color: var(--app-bg);
  color: var(--app-text-color);
}